{% extends 'base1.html' %}
{% load static %}
{% block content %}
        <h1>{{ post.title }} </h1>
        <small>By: {{post.author}}   -   {{post.article_date}} - <small><a href="{% url 'artikelpage:update' post.pk %}">  (Edit)</a></small> <small><a href="{% url 'artikelpage:delete' post.pk %}">  (Delete)</a></small></small><br/>
        <hr>
        <br/>
        {{ post.body |slice:":200"|safe}}
        <br/><br/>
        <a href="{% url 'artikelpage:artikel'%}"class="btn btn-secondary">Back</a>
{% endblock %} 