{% extends 'base1.html' %}
{% load static %}
{% block content %}
        <h1>Delete Article </h1>
        <br/><br/>
        <h3>Delete: {{ post.title }}</h3>
        <br/>
        <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            <button class="btn btn-warning"> Delete Post </button>
        </div>
{% endblock %} 