{% extends 'base1.html' %}
{% load static %}
{% block content %}
        <h1>Update </h1>
        <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.media}}
            {{ form.as_p}}
            <button class="btn btn-primary"> Update </button>
        </div>
{% endblock %} 