{% extends 'base2.html' %}  
{% load static %}    
{% block content %}
<!DOCTYPE html>    
<html>    
<head>    
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <link href='https://fonts.googleapis.com/css?family=Poppins:300,400,700' rel='stylesheet' type='text/css'>
  {% block css %}
  {% block head_css_site %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
  {% endblock head_css_site %}
  {% endblock css %}
</head>
<body>
<h2>FEED BACK FORM</h2>    
<div class="container">    
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="row">    
      <div class="col-25">    
        <label for="fname">Nama Depan</label>    
      </div>    
      <div class="col-75">    
        <input type="text" id="fname" name="firstname">    
      </div>   
    </div>    
    <div class="row">    
      <div class="col-25">    
        <label for="lname">Nama Belakang</label>    
      </div>    
      <div class="col-75">    
        <input type="text" id="lname" name="lastname">    
      </div>    
    </div>    
    <div class="row">    
        <div class="col-25">    
          <label for="email">Email</label>    
        </div>    
        <div class="col-75">    
          <input type="email" id="email" name="mailid">    
        </div>    
      </div>      
    <div class="row">    
      <div class="col-25">    
        <label for="feed_back">Feedback</label>    
      </div>    
      <div class="col-75">    
        <textarea id="subject" name="subject" style="height:200px"></textarea>    
      </div>    
    </div>   
    <button class="buttonB">Submit</button> 
  </form>    
</div>    
</body>    
</html>
{% endblock %}