{% include 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Accordion - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>

  $( function() {
    $( "#accordion" ).accordion();
  } );
  </script>
</head>

<body>
    <h1><center>FAQ</center></h1>
    <div id="accordion">
    <h3>Bagaimana cara saya menambahkan deadline saya?</h3>
    <div>
        <p>
        1. Klik tulisan "Buat Jadwal" pada navigasi bar diatas<br>
        2. Masukkan nama mata kuliah yang ingin ditambahkan jadwal deadlinenya<br>
        3. Masukkan nama tugas<br>
        4. Masukkan tanggal deadline<br>
        5. Deadline tugas anda berhasil ditambahkan!<br>
        </p>
    </div>
    <h3>Bagaimana cara saya menghapus/mengupdate deadline yang telah saya buat?</h3>
    <div>
        <p>
        1. Pastikan anda sudah menambahkan jadwal deadline yang ingin diedit atau dihapus<br>
        2. Klik "Daftar Jadwal" pada navigasi bar diatas<br>
        3. Klik tombol "Update" untuk mengubah deadline, atau tombol "Hapus" untuk menghapus deadline<br>
        4. Deadline tugas anda berhasil diupdate atau dihapus!<br>
        </p>
    </div>
    <h3>Bagaimana cara saya dapat membantu teman yang sedang demotivasi melalui aplikasi Susun Deadline?</h3>
    <div>
        <p>
        Demotivasi adalah hal yang tidak dapat dihindari terlebih ketika kita sedang dihadapi banyak sekali deadline.
        Salah satu cara yang dapat kita lakukan untuk membantu sesama kita yang sedang 'demot' adalah dengan memberi
        kata-kata penyemangat.
        Susun Deadline menyediakan fitur "Quotes Motivasi" bagi teman-teman yang sedang mengalami 'demot' 
        atau ingin membantu temannya melalui kalimat penyemangat.
        Untuk menambahkan quotes, anda dapat melakukan hal berikut:
        </p>
        <p>
        1. Klik tulisan "Quotes" pada navigasi bar diatas<br>
        2. Klik tombol "Tulis Quotes" pada page tersebut
        3. Tuliskan quotes/kata-kata yang ingin disampaikan beserta nama anda sebagai pe
        </p>
    </div>
    </div>
    <center><div class="mainpage2"> 
        <div class="d-flex flex-column">
            <p class="mt-3 add">Punya pertanyaan yang belum terjawab?</p>
            {% if boolean %}
            <div class="pesan">Terima kasih atas pertanyaannya!</div>
            {% endif %}
            <form method="POST" action="/help-page/">
                {% csrf_token %}
                <table>
                {{ form.as_table }}
                </table>
                <input type="submit" class="button-submit mx-auto" value="Submit">
            </form>
        </div>
    </div></center>

    <br>
    <br>

    <h2><center>Contact Us</center></h2>
    <!-- Footer -->
    <footer class="page-footer font-small special-color-dark pt-4">

    <div class="container">
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item mx-2">
            <a href="https://www.instagram.com/maung.2019"><img style="height: 40px; width: 40px" src="{% static 'ig.png' %}"> </a>
        </li>
        <li class="list-inline-item mx-2">
            <a 
            href="https://www.instagram.com/maung.2019"><img style="height: 40px; width: 40px" src="{% static 'twitter.png' %}"> 
            </a>
        </li>
        <li class="list-inline-item mx-2">
            <a href="https://www.instagram.com/maung.2019"><img style="height: 40px; width: 40px" src="{% static 'gmail.png' %}"> </a>
        </li>
      </ul>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://susun-deadline.herokuapp.com/">Susun Deadline</a>
    </div>
    </footer>
 
</body>
</html>