:root {
    --background_color_one:#203143;
    --text_color_one: #ffffff;
}

html, body {
    height: 100%;
}

/* Help Page */
.list-inline-item{
    height: auto;
    width: 20px;
}
.sosmed{
    width: 20px !important;
    height: 20px !important;
}

.a{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 3.5rem;
    cursor: pointer;
    color: white;
}
    .a:hover{
        transform: scale(1.5);
    }
    .a img{
        min-width: 30%;
        width: 30%;
    }