@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');



* {    
  box-sizing: border-box;    
}    
    
input[type=text], select, textarea {    
  width: 100%;    
  padding: 12px;    
  border: 1px solid rgb(70, 68, 68);    
  border-radius: 4px;    
  resize: vertical;   
  font-family: Poppins;
}    
input[type=email], select, textarea {    
  width: 100%;    
  padding: 12px;    
  border: 1px solid rgb(70, 68, 68);    
  border-radius: 4px;    
  resize: vertical;   
  font-family: Poppins;
}    
    
label {    
  padding: 12px 12px 12px 0;    
  display: inline-block;    
}    
    
input[type=submit] {    
  background-color: rgb(37, 116, 161);    
  color: white;    
  padding: 12px 20px;    
  border: none;    
  border-radius: 4px;    
  cursor: pointer;    
  float: right;    
}    
    
input[type=submit]:hover {    
  background-color: #45a049;    
}    
    
.container {    
  border-radius: 5px;    
  background-color: #f2f2f2;    
  padding: 20px;    
}    
    
.col-25 {    
  float: left;    
  width: 25%;    
  margin-top: 6px; 
  font-family: Poppins;
}    
    
.col-75 {    
  float: left;    
  width: 75%;    
  margin-top: 6px; 
}    
    
/* Clear floats after the columns */    
.row:after {    
  content: "";    
  display: table;    
  clear: both;    
}    

body {
  background-color: rgba(106,135,194,.4);
}
h2 {
  font-family: Poppins;
}

button {
  margin: 0 20px 40px;
  padding: 1em 2em;
  border: none;
  display: inline-block;
  background-color: #5A7AB3;
  box-shadow: 0 6px #4063A4;
  font-size: 114%;
  line-height: 1;
  color: #fff;
  position: relative;
  cursor: pointer;
}

/*　buttonB　*/
.buttonB {
  border-radius: 1.5em;
  box-shadow: 0 6px #4063A4;
  top: 0;
  transition: .2s box-shadow,.2s top,.4s background;
}
.buttonB:hover {
  box-shadow: 0 5px #4063A4;
  top: 1px;
}
.buttonB:active {
  background-color: #4163A7;
  box-shadow: 0 0 #4063A4;
  top: 6px;
}

