{% include 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Susun Deadline</title>
    <style>
        #jumbo-index .jumbotron{
            background-size: cover;
            background-position: center;
            height: 650px;
            width: 100%;
        }
    </style>
</head>
<body>
    <section id="jumbo-index">
        <div class="jumbotron jumbotron-fluid">
            <div class="container"> 
                <div class="container-fluid" style="margin-top: 30px;">
                    <div class="container text-white" style="height: 640px;">
                        <h1>Ringkasan Tugas</h1>
                        <table class="table">
                            <thead class="table  text-blue text-center">
                                <th scope="col">Mata Kuliah</th>
                                <th scope="col">Nama Tugas</th>
                                <th scope="col">Deadline</th>
                            </thead>
                            <tbody>
                                {% for a in posts %}
                                <tr class="table text-blue text-center">
                                    <td> {{a.Mata_Kuliah}} </td>
                                    <td> {{a.Nama_Tugas}} </td>
                                    <td> {{a.Deadline}} </td>
                                    <td><a class="btn btn-danger" href="{% url 'homepage:delete' a.id %}">Delete</a></td>
                                    <td><a class="btn btn-warning" href="{% url 'homepage:update' a.id %}">Update</a></td>
                                </tr> 
                                {% endfor %}
                            </tbody>
                        </table>
                        <a class="btn btn-primary" href="/susundeadline">Tambahkan Tugas Lain</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

