{% include 'base.html' %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Susun Deadline</title>
</head>
<body>
    <div class="jumbotron">
        <div class="form-group mx-auto" style="text-align: center; width: 30%;">
            <form action="" method="POST">
                {% csrf_token %}
                {{form_quote.Quote}}<br>
                {{form_quote.nama}}<br>
                <button class="btn btn-primary" type="Submit">Submit</button>
            </form>
        </div>
    </div>
</body>