{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Susun Deadline</title>
</head>
<body>
    <div class="card text-center">
        <div class="card-header">
          <h1>Susun Deadline</h1>
        </div>
        <div class="card-body">
            <img src="{% static 'IconDeadline.png' %}" width="100" height="100">
            <h5 class="card-title">Log in to SusunDeadline</h5>
            <div class="card-text">
              <form method = "POST" action="">
                {% csrf_token %}
                {{form_user.Nama}}
                {{form_user.NPM}}
                <br>
                <button class="btn btn-primary" type="Submit">Log in</button>
              </form>
          </div>
        </div>
    </div>
</body>
</html>