{% include 'base.html' %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Susun Deadline</title>
</head>
<body>
    <div class="jumbotron">
        <h2 style="text-align: center;">Quotes Motivasi</h2><br>
        {% for form_quote in quotesnya %}
        <div class="card text-center" style="width: 20%; margin-left: auto; margin-right: auto;">
            <div class="card-body">
                <h5 class="card-title">{{form_quote.Quote}}</h5>
            </div>
            <div class="card-footer text-muted">
                by {{form_quote.nama}}
            </div>
        </div>
        <br>
        {% endfor %}
        <a class="btn btn-primary btn-lg" href="/formquotes" role="button">Tulis Quotes</a>
    </div>
</body>
</html>